<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<div class="Wrapper">
    <h1 class="Title">What does it mean?</h1>
 
    <div class="Input">
        <form id="myForm" method="post">
        <label for="input" class="Input-label">Enter the word</label>
      <input type="text" id="input" class="Input-text" placeholder="A word for analysis">
    </form>
    <div class="response-area">
        <p>
          <%= content %>
        </p>
      </div>
    </div>
  </div>
  </html>
  <!--I used it from the css file i found on the web but also i changed some tags so i can have as a form and view my content afterwards-->